<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Login!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!22222222222</h1>

    <form action="/go_board" method=post>
        <dl>
            <dt>UserName:</dt>
            <dd>
                <input type=text name=username value="" />
            </dd>
            {#
            <dt>Password:</dt>
            <dd>
                <input type=password name=password />
            </dd>
            #}
        </dl>

        <p>
            <input type=submit value="login" />
        </p>
    </form>
</body>
</html>